.singleReviews {
  box-shadow: 0px 0px 1rem rgba(0,0,0,0.1);
    
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  color: var(--black);
  border-radius: 0.8rem;
  .imgCintainer {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    img {
      height: 100%;
    }
  }
  .name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .rate {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
      color: var(--orenge);
    }
  }
  .text {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }
}
