
.searchComponent{
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0rem;

    input{
        border: none;
        font-size: 1.4rem;
        padding: 0rem 1rem;
        width: 100%;
        background-color: #f2f3f4;
        outline: none;
        color: var(--black);
        font-size: 1.5rem;
        padding: 0.4rem 0.8rem;


    }
    select{
        border: none;
        font-size: 1.4rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: #f2f3f4;
        color: var(--black);
        font-size: 1.5rem;
        padding: 0.4rem 0.8rem;
        
        outline: none;

    }
    .searchIcon{
        background-color: var(--top-color);
        color: #fff;
        font-size: 1.6rem;

        height: 100%;
        padding: 0.500rem 2rem;
        cursor: pointer;
        width: fit-content;
       text-decoration: none;
    }
}